<!DOCTYPE html>
<html lang="en">
<head>
    #parse("content/personalstake/common/resource.vm")
    <script type="text/javascript" src="$!{basePath}/content/js/tg/tgPlanLayout.js"></script>
    <title>查询台区计划曲线页面</title>
</head>
<body>
<input type="hidden" id="org_no_g" value="$!{orgNo}">
<input type="hidden" id="org_name_g" value="$!{orgName}">
<input type="hidden" id="tg_no_g" value="$!{tgNo}">
<div class="panel-body" style="padding-bottom:0px;">
    <!-- 搜索 -->
    <div class="accordion-group" style="height:20%">
        <div class="accordion-inner">
            <div class="panel panel-default" style="margin-bottom: 0px;">
                <div class="panel-body">
                    <form id="searchForm" class="searchForm form-horizontal clearfix"
                          style="margin-top:0.6cm;padding: 0 20p" action="" method="post">
                        <div class="row">
                            <div class="col-sm-3 form-group no-padding">
                                <label class="col-sm-5 control-label near-padding-right" for="orgName">组织单位</label>
                                <div class="col-sm-7 no-padding">
                                    <input type="text" class="form-control" id="orgName" placeholder="请选择组织单位"
                                           autocomplete="off" onclick="initTree()">
                                    <input type="hidden" id="orgNo" name="orgNo">
                                    <div id="treeDiv"
                                         style="display: none; overflow: scroll; width: 294px; height: 400px; background-color: white; position: absolute; z-index: 9999; border: 1px solid #DDDDDD">
                                        <ul id="treeDemo" class="ztree"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <label class="col-sm-5  control-label near-padding-right" for="start_time">开始时间</label>
                                <div class=" date form_datetime col-sm-7 no-padding">
                                    <div class="jeitem" style="width: 100%">
                                        <div class=" jeinpbox" style="width: 100%">
                                            <input type="text" class="jeinput" id="start_time" name="start_time"
                                                   placeholder="请选择开始时间" autocomplete="off"
                                                   readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <label class="col-sm-5  control-label near-padding-right" for="odmodel">结束时间</label>
                                <div class=" date form_datetime col-sm-7 no-padding">
                                    <div class="jeitem" style="width: 100%">
                                        <div class="jeinpbox" style="width: 100%">
                                            <input type="text" class="jeinput" id="end_time" name="end_time"
                                                   placeholder="请选择结束时间" autocomplete="off"
                                                   readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <button type="button" class="btn btn-primary" id="search-btn">
                                    <span class="glyphicon glyphicon-search"></span>查询
                                </button>
                                <button type="button" class="btn btn-warning" id="reset-btn">
                                    <span class="glyphicon glyphicon-repeat"></span>重置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="charts" style="height:75%;margin-top:2%"></div>
</div>
</body>
</html>