<!DOCTYPE html>
<html lang="en">
<head>
#parse("content/personalstake/common/resource.vm")
<script type="text/javascript" src="$!{basePath}/content/js/tg/tgrunMonitoring.js"></script>
<style>
	.fixed-table-toolbar .bs-bars, .fixed-table-toolbar .search, .fixed-table-toolbar .columns{
		margin-bottom:2px;}
	.table{
    table-layout: fixed;
}	
 .modal-body{
       max-height:300px;
       overflow-y:auto;
     }
</style>
<title>台区实时监控</title>

</head>
<body>
<input type="hidden" id="tgId" value="$!{TG_ID}"/>
<input type="hidden" id="tgName" value="$!{TG_NAME}"/>
<div class="panel-body" style="padding-bottom:0px;">
		<div class="accordion-group">
			<div class="accordion-inner">
				<div class="panel panel-default">
					<div class="panel-body">
						<form id="searchForm" class="searchForm form-horizontal clearfix" method="post">
							<div class="row">
								<div class="col-sm-4 col-sm-4 ">
									<label class="col-sm-4 col-sm-5 control-label near-padding-right" for="orgName">组织单位</label>
									<div class="col-sm-8 col-sm-7 no-padding">
										<input type="text" class="form-control" id="orgName" placeholder="请选择组织单位" autocomplete="off" onclick="initTree()">
										<input type="hidden" id="orgNo" name="orgNo">
										<div id="treeDiv" style="display: none; overflow: scroll; width: 199px; height: 400px; background-color: white; position: absolute; z-index: 9999; border: 1px solid #DDDDDD">
											<ul id="treeDemo" class="ztree"></ul>
										</div>
									</div>
								</div>
								<div class="col-sm-4 ">
			                        <label class="col-sm-5 control-label near-padding-right" for="status">状态</label>
			                        <div class="col-sm-7 no-padding">
						        	<select id="status"  class="form-control selectpicker" data-live-search="true" placeholder="请选择状态">
						        	    <option value="">状态选择</option>
						         		<option value="1">在线</option>
						         		<option value="2">离线</option>
						        	</select>
						           </div>
			                    </div>
								<div class="col-sm-4" style="text-align: right; padding-left: 0px; padding-right: 100px;">
										<button type="button" class="btn btn-primary" id="search-btn" style="margin-left:60px;">
									<span class="glyphicon glyphicon-search"></span>查询
							 		 	</button>
										<button type="button" class="btn btn-warning" id="reset-btn">
									<span class="glyphicon glyphicon-refresh"></span>重置
								</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="table-div" class="table-responsive" >
        <table class="table table-striped table-bordered table-hover "  style="overflow:scroll;white-space:nowrap" id="tgrunList"></table>
    </div>
</div>	
</body>

</html>